fastapi
uvicorn[standard]
python-multipart
sqlalchemy
paddleocr
paddlepaddle
opencv-python
Pillow
scikit-image
scikit-learn==1.6.1
joblib
pandas
numpy
deepface
tensorflow
google-genai
python-dateutil
python-dotenv
pytest
